* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
    color: #fefefe;
    font-family: 'fantasy';
}

canvas, #score {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -400px;
    border: 2px solid #000;
}

#score {
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 800px;
    pointer-events: none;
}

span {
    display: block;
    position: relative;
    margin: 10px;
    font-size: 100px;
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    z-index: 7;
}

.msg {
    display: none;
    margin-top: 50px;
    color: green;
    font-size: 80px;
    text-shadow: 5px 5px 0 yellow;
    z-index: -1;
}

.finished {
    display: flex;
    text-align: center;
}

.finished .msg {
    display: block;
}